<table id="positionsTable" class="table table-dark">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Basic Hourly Pay</th>
            <th>Active?</th>
        </tr>
    </thead>
    <tbody id="positionsTableBody"></tbody>
</table>