<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Index</title>
        {{> partials/_staticCSS }}
    </head>
    <body>
        {{> partials/_navbar }}
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h1>Index</h1>
                </div>
            </div>
        </div>
        {{> partials/_staticJS }}
    </body>
</html>